body {
  margin: 2rem;
  overflow-x: hidden;
}

.block {
  padding: 0.5rem 1rem;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 1rem;
  margin: 0.5rem 0rem;
  position: relative;
}

.block.form {
  background: #fffadd;
}

.block.page {
  background: #ffcc70;
}

.block.prop {
  background: #87c4ff;
}

.block.option {
  background: #39a7ff;
}

.block label {
  width: 9rem;
  user-select: none;
}

.block_modifier {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;

  padding: 0.125rem;

  border-radius: 0.3rem;
  background-color: lightgray;
}

.block_modifier.fas,
.block_modifier.fa-regular {
  box-shadow: 0 0 0 100vmax inset rgb(0 0 0 / var(--o, 0%));
}

.addition_btn,
.btn {
  background-color: lightgray;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.3rem;
  width: fit-content;

  box-shadow: 0 0 0 100vmax inset rgb(0 0 0 / var(--o, 0%));
  transition: 0.4s;
  user-select: none;
}

.addition_btn:hover,
.btn:hover,
.block_modifier:hover {
  --o: 35% !important;
}

.addition_btn:active,
.btn:active,
.block_modifier:active {
  --o: 60% !important;
}

.addition_btn.btn {
  display: inline;
}

.block_modifier.fas::before {
  margin-left: 2px;
  margin-top: -2px;
}

/* COLLAPSING */
.block_modifier.fa-eye::before {
  transform: scale(0.9);
  display: block;
  margin-left: -1px;
  margin-top: -1px;
}

.block_modifier.fa-eye-slash::before {
  transform: scale(0.9);
  display: block;
  margin-left: -2px;
  margin-top: -1px;
}

.block_modifier.fa-rotate-right::before {
  margin-left: -0.5px !important;
  margin-top: -1px !important;
}

.block.page.collapsed .block.prop,
.block.page.collapsed .addition_btn {
  display: none;
}

.block.prop.collapsed .block.option,
.block.prop.collapsed .addition_btn {
  display: none;
}

.block.collapsed::after {
  content: var(--el-count) " hidden element(s)...";
  font-style: italic;
  margin-left: calc(100% - 150px);
}

/* Modifiers */
.block_modifier {
  right: calc(1rem + 1.5rem * (var(--nth-child) - 1));
}

[tooltip].block_modifier {
  transform: translate(0, -5px) !important;
  background: none;
}

#code_parser {
  width: 380px;
}

input,
select {
  min-width: 100px;
  margin: 2px;
  border-radius: 8px;
}

input.wide {
  width: calc(100% - 220px);
  ;
}

input.semiwide {
  width: calc(60% - 220px);
}

label {
  min-width: 180px;
}

[tooltip] {
  z-index: 10;
}

[tooltip]::after {
  /* tooltip question mark from FA */
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='-200 0 512 768'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M80 160c0-35.3 28.7-64 64-64h32c35.3 0 64 28.7 64 64v3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74V320c0 17.7 14.3 32 32 32s32-14.3 32-32v-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7V160c0-70.7-57.3-128-128-128H144C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z'/%3E%3C/svg%3E");

  display: inline-block;
  width: 1em;
  height: 1em;

  background: lightblue;
  border-radius: 50%;
  transform: translate(0, 5px);
}

[tooltip]::before {
  content: attr(tooltip);
  position: absolute;
  background-color: lightblue;
  padding: .5rem;
  z-index: 11;
  border-radius: .5rem;

  transform: translate(0, 2rem);
  pointer-events: none;

  min-width: 150px;
  width: max-content;
  max-width: 250px;
  font-size: 0.75rem;
  height: auto;

  opacity: 0;
  transition: opacity ease-in-out .33s 0s;
}

[tooltip].left-tooltip::before {
  transform: translate(-65%, 2rem) !important;
}

[tooltip]:hover::before {
  opacity: 1;
  transition: opacity ease-in-out .33s 1s !important;
}

/* CONSTRAINTS */
.constraint_instance {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #b9e189;
  border-radius: .5rem;
}

.ajs-close{
  position: absolute;
}

/* HELPER FUNCTIONS */
:nth-child(1) { --nth-child: 1 }
:nth-child(2) { --nth-child: 2 }
:nth-child(3) { --nth-child: 3 }
:nth-child(4) { --nth-child: 4 }
:nth-child(5) { --nth-child: 5 }
:nth-child(6) { --nth-child: 6 }
:nth-child(7) { --nth-child: 7 }
:nth-child(8) { --nth-child: 8 }
:nth-child(9) { --nth-child: 9 }
:nth-child(10) { --nth-child: 10 }
:nth-child(11) { --nth-child: 11 }
:nth-child(12) { --nth-child: 12 }
:nth-child(13) { --nth-child: 13 }
:nth-child(14) { --nth-child: 14 }
:nth-child(15) { --nth-child: 15 }
:nth-child(16) { --nth-child: 16 }
:nth-child(17) { --nth-child: 17 }
:nth-child(18) { --nth-child: 18 }
:nth-child(19) { --nth-child: 19 }
:nth-child(20) { --nth-child: 20 }
:nth-child(21) { --nth-child: 21 }
:nth-child(22) { --nth-child: 22 }
:nth-child(23) { --nth-child: 23 }
:nth-child(24) { --nth-child: 24 }
:nth-child(25) { --nth-child: 25 }
:nth-child(26) { --nth-child: 26 }
:nth-child(27) { --nth-child: 27 }
:nth-child(28) { --nth-child: 28 }
:nth-child(29) { --nth-child: 29 }
:nth-child(30) { --nth-child: 30 }
:nth-child(31) { --nth-child: 31 }
:nth-child(32) { --nth-child: 32 }
:nth-child(33) { --nth-child: 33 }
:nth-child(34) { --nth-child: 34 }
:nth-child(35) { --nth-child: 35 }
:nth-child(36) { --nth-child: 36 }
:nth-child(37) { --nth-child: 37 }
:nth-child(38) { --nth-child: 38 }
:nth-child(39) { --nth-child: 39 }
:nth-child(40) { --nth-child: 40 }
:nth-child(41) { --nth-child: 41 }
:nth-child(42) { --nth-child: 42 }
:nth-child(43) { --nth-child: 43 }
:nth-child(44) { --nth-child: 44 }
:nth-child(45) { --nth-child: 45 }
:nth-child(46) { --nth-child: 46 }
:nth-child(47) { --nth-child: 47 }
:nth-child(48) { --nth-child: 48 }
:nth-child(49) { --nth-child: 49 }
:nth-child(50) { --nth-child: 50 }
:nth-child(51) { --nth-child: 51 }
:nth-child(52) { --nth-child: 52 }
:nth-child(53) { --nth-child: 53 }
:nth-child(54) { --nth-child: 54 }
:nth-child(55) { --nth-child: 55 }
:nth-child(56) { --nth-child: 56 }
:nth-child(57) { --nth-child: 57 }
:nth-child(58) { --nth-child: 58 }
:nth-child(59) { --nth-child: 59 }
:nth-child(60) { --nth-child: 60 }
:nth-child(61) { --nth-child: 61 }
:nth-child(62) { --nth-child: 62 }
:nth-child(63) { --nth-child: 63 }
:nth-child(64) { --nth-child: 64 }
:nth-child(65) { --nth-child: 65 }
:nth-child(66) { --nth-child: 66 }
:nth-child(67) { --nth-child: 67 }
:nth-child(68) { --nth-child: 68 }
:nth-child(69) { --nth-child: 69 }
:nth-child(70) { --nth-child: 70 }
:nth-child(71) { --nth-child: 71 }
:nth-child(72) { --nth-child: 72 }
:nth-child(73) { --nth-child: 73 }
:nth-child(74) { --nth-child: 74 }
:nth-child(75) { --nth-child: 75 }
:nth-child(76) { --nth-child: 76 }
:nth-child(77) { --nth-child: 77 }
:nth-child(78) { --nth-child: 78 }
:nth-child(79) { --nth-child: 79 }
:nth-child(80) { --nth-child: 80 }
:nth-child(81) { --nth-child: 81 }
:nth-child(82) { --nth-child: 82 }
:nth-child(83) { --nth-child: 83 }
:nth-child(84) { --nth-child: 84 }
:nth-child(85) { --nth-child: 85 }
:nth-child(86) { --nth-child: 86 }
:nth-child(87) { --nth-child: 87 }
:nth-child(88) { --nth-child: 88 }
:nth-child(89) { --nth-child: 89 }
:nth-child(90) { --nth-child: 90 }
:nth-child(91) { --nth-child: 91 }
:nth-child(92) { --nth-child: 92 }
:nth-child(93) { --nth-child: 93 }
:nth-child(94) { --nth-child: 94 }
:nth-child(95) { --nth-child: 95 }
:nth-child(96) { --nth-child: 96 }
:nth-child(97) { --nth-child: 97 }
:nth-child(98) { --nth-child: 98 }
:nth-child(99) { --nth-child: 99 }
:nth-child(100) { --nth-child: 100 }